:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
}

#header {
  min-height: 50px;
  border-bottom: 1px solid black;
  text-decoration: none;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
}

#logo {
  color: black;
  cursor: pointer;
  font-size: 2rem;
  text-decoration: none;
}

#logo:hover {
  color: #54b3d6;
}

#header-login {
  color: black;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  padding: 0.25rem;
}
#header-login:hover {
  color: #54b3d6;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.stockview-container {
  display: flex;
  justify-content: space-between;
}

.maincontent-container {
  flex: 4;
  height: 500px;
  right: 0;
  align-items: center;
  justify-content: center;
}
